.logo {
  color: var(--blue-60);
  font-weight: 700;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer;
}
.logo span {
  position: relative;
}
.logo span::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 0.07em;
  background-color: var(--blue-60);
  transform: translate(-100%, 1.2em);
  border-radius: 1em;
}
