.header {
  height: 32px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--line--dark-gray);
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 32px;
  text-decoration: none;
  line-height: 16px;
}
.active {
  position: relative;
  cursor: pointer;
}
.active::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--blue-60);
  transform: translateY(12px);
}
.timing {
  color: var(--text-light-gray);
  cursor: not-allowed;
}

.presetDate {
  color: var(--text-light-gray);
  font-size: 14px;
  border: 1px solid var(--line--dark-gray);
  border-radius: 4px;
  padding: 0 4px;
}

.category {
  margin-top: 16px;
}
.categoryTitle {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
}
.handleShow {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.taskList {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
