.progressBar {
  background-color: var(--background-gray);
  border-radius: 4px;
  position: relative;
  font-size: 16px;
  height: 28px;
  display: flex;
  align-items: center;
  width: 64px;
  overflow: hidden;
}

.filler {
  background-color: var(--blue-50);
  height: 100%;
}
.progress {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
