.table {
  margin-top: 16px;
}
.tableHeader {
  color: var(--text-light-gray);
  margin-bottom: 12px;
  cursor: auto !important;
}
.tableRow {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 2px 4px;
  border-radius: 8px;
  margin-top: 8px;
  cursor: pointer;
}
.tableRow:not(:first-child):hover {
  background-color: var(--background-gray) !important;
}

.tableRowItem:first-child {
  flex: 3;
  text-align: left;
}
.tableRowItem {
  flex: 2;
}
.tableRowItem:last-child {
  max-width: 16px;
  position: relative;
}

.tooltip {
  position: absolute;
  right: 100%;
  top: 0;
  background: var(--background-white);
  padding: 8px 12px;
  border-radius: 4px;
  margin-bottom: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  text-align: left;
}
.tooltipItem {
  padding: 2px 8px;
}
.tooltipItem:hover {
  background-color: var(--background-gray);
  border-radius: 4px;
  user-select: none;
}

.deletePopup {
  padding: 8px 12px;
  border-radius: 4px;
  margin-bottom: 8px;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
