.authButton {
  height: 44px;
  background-color: var(--gray-70);
  color: var(--text-white);
  border-radius: 4px;
  font-size: 16px;
  border: none;
  user-select: none;
  cursor: pointer;
}
.authButton:hover {
  background-color: var(--gray-80);
}
.authButton:active {
  background-color: var(--gray-90);
}

.button {
  border-radius: 8px;
  cursor: pointer;
  min-width: 100px;
}

.secondaryButton {
  background-color: var(--background-white);
  border: 1px solid var(--text-gray);
  color: var(--text-gray);
}

.secondaryButton:hover {
  background-color: var(--background-gray);
}

.secondaryButton:active {
  color: var(--text-black);
  border-color: var(--text-black);
}

.primaryButton {
  background-color: var(--blue-60);
  color: var(--text-white);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.primaryButton:hover {
  background-color: var(--blue-70);
}

.primaryButton:active {
  background-color: var(--blue-80);
}
