.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.search {
  position: relative;
  border: 1px solid var(--gray-60);
  border-radius: 8px;
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 8px;
  flex: 0.5;
}

.search input {
  border: none;
  outline: none;
  flex: 1;
  height: 24px;
}
.search svg {
  color: var(--gray-60);
  font-size: 24px;
  cursor: pointer;
}

.searchResult {
  position: absolute;
  background-color: var(--background-white);
  top: 32px;
  left: 0;
  width: 100%;
  border: 1px solid var(--gray-60);
  border-radius: 8px;
  padding: 0 8px;
  box-sizing: border-box;
  z-index: 1;
}

.links {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: var(--text-gray);
  flex: 0.3;
  max-width: 532px;
  gap: 8px;
}
.links a {
  display: block;
  text-align: center;
  min-width: 84px;
  text-decoration: none;
  color: var(--text-gray);
}
.links a:hover,
.links a:focus,
.active {
  font-weight: 700;
  cursor: pointer;
}

.auth {
  font-size: 16px;
  align-self: stretch;
}
