.label {
  text-align: left;
  margin-bottom: 16px;
}
.errorMsg {
  color: var(--red-60);
  text-align: left;
  position: absolute;
  font-size: 14px;
  top: 18px;
}
.inputContainer {
  height: 40px;
  border: 1px solid var(--line--dark-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
}
.input {
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.eye {
  display: flex;
  color: var(--line--dark-gray);
  font-size: 32px;
  cursor: pointer;
}

.radio {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.radio input[type='radio'] {
  width: 16px;
  height: 16px;
  accent-color: var(--blue-60);
  margin-right: 8px;
}
