.header {
  height: 32px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--line--dark-gray);
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 32px;
  text-decoration: none;
  line-height: 16px;
}
.active {
  position: relative;
  cursor: pointer;
}
.active::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--blue-60);
  transform: translateY(12px);
}
.timing {
  color: var(--text-light-gray);
  cursor: not-allowed;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
  position: relative;
}
.sortContainer {
  color: var(--text-light-gray);
  display: flex;
  align-items: end;
  cursor: pointer;
}

.sortTooltip {
  position: absolute;

  top: 130%;
  right: 0;

  background: var(--background-white);
  padding: 8px 12px;
  border-radius: 4px;
  margin-bottom: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  text-align: left;
}

.tagsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}
.tagCard {
  display: flex;
  align-items: center;
  gap: 4px;
  min-width: 300px;
}
.treeDots,
.toggleList {
  position: relative;
  color: var(--text-light-gray);
  cursor: pointer;
  padding: 2px 0;
  border-radius: 4px;
  user-select: none;
}
.treeDots:hover,
.toggleList:hover {
  color: var(--text-black);
  background-color: var(--background-gray);
}
.tagTitle {
  padding: 0 8px;
  background-color: var(--background-dark-gray);
  border-radius: 4px;
}
.listLink {
  margin-left: 16px;
}

.tooltip {
  position: absolute;
  left: 0;
  background: var(--background-white);
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 8px;
  color: var(--text-black);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  text-align: left;
  z-index: 1;
}
.tooltipItem {
  padding: 2px 8px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.tooltipItem:hover {
  background-color: var(--background-gray);
  border-radius: 4px;
  user-select: none;
}
.tooltipItem svg {
  color: var(--gray-60);
}
.colorPicker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--line--dark-gray);
  cursor: pointer;
}
.colorPicker::-webkit-color-swatch {
  border-radius: 4px;
  border: none;
}
.colorPicker::-moz-color-swatch {
  border-radius: 4px;
  border: none;
}
