.body {
  background-color: var(--background-dark-gray);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.form {
  width: 100%;
  max-width: 412px;
  background-color: var(--background-white);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 54px 44px;
  max-height: 100vh;
}

.logo {
  margin-bottom: 32px;
  font-size: 56px !important;
}

.formItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  position: relative;
}

.forgotPswBtn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.forgotPassword {
  text-align: right;
  cursor: pointer;
}

.errorMsgAuth {
  color: var(--red-60);
  margin-bottom: 16px;
}

.addAccount {
  margin-top: 32px;
  cursor: pointer;
}

.addAccount a {
  color: var(--blue-60);
  text-decoration: none;
}
.addAccount a:hover {
  text-decoration: underline;
}
